<div class="home-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 py-5 px-3">
        <div class="tab mx-3 my-3 pointer text-center" *ngFor="let tab of tabs" (click)="select(tab)">
          <h1 class="title">
            {{ tab }}
          </h1>
        </div>
      </div>
      <div class="col">
        <h1 class="title text-center">
          {{selected}}
        </h1>
        <ng-container *ngIf="folders && selected === tabs[1]">
          <div *ngFor="let folder of folders" class="pointer">
            <h1 class="border px-4 py-2 mb-2 text-white">
              {{folder}}
            </h1>
          </div>
          <!-- <app-recordings [folders]="folders"></app-recordings> -->
        </ng-container>

        <ng-container *ngIf="selected === tabs[2]">
          <app-configuration></app-configuration>
        </ng-container>
      </div>
    </div>
  </div>
</div>